<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.petshop.mapper.ProductMapper">

	<resultMap type="com.mall.petshop.product.ProductDTO" id="productDTO">
		<result column="PRODUCT_NUM" property="productNum" />
		<result column="NAME" property="name" />
		<result column="PRICE" property="price" />
		<result column="THUMBNAIL" property="thumbnail" />
	</resultMap>

	<resultMap type="com.mall.petshop.product.CartDTO" id="cartDTO">
		<result column="CART_NUM" property="cartNum" />
		<result column="PRODUCT_NUM" property="productNum" />
		<result column="QUANTITY" property="quantity" />
		<result column="ID" property="id" />
		<collection property="productDTO" resultMap="productDTO" />
	</resultMap>

	<resultMap type="com.mall.petshop.product.LikeItDTO" id="likeIt">
		<result column="PRODUCT_NUM" property="productNum" />
		<result column="ID" property="id" />
		<collection property="productDTO" resultMap="productDTO" />
	</resultMap>

	<select id="searchProduct">
		SELECT *
			FROM MEMBER
			WHERE ID=#{id} and PW=#{pw}
	</select>

	<select id="showProductList" resultType="com.mall.petshop.product.ProductDTO">
		SELECT PRODUCT_NUM, SEARCH_TAG, NAME, PRICE, THUMBNAIL, FREE_SHIPPING,
				ON_DISCOUNT, REG_DATE, CONTENT, REVIEW_COUNT
			FROM PRODUCT
			WHERE <include refid="searchKeyword" />
			<include refid="freeShipping" /> <include refid="onDiscount" />
			<include refid="sortOption" />
			LIMIT #{postBeginPoint}, #{displayPostLimit}
	</select>

	<sql id="searchKeyword">
		( SEARCH_TAG like CONCAT('%', #{keyword}, '%') OR
		NAME like CONCAT('%', #{keyword}, '%') OR
		CONTENT like CONCAT('%', #{keyword}, '%') )
	</sql>

	<sql id="sortOption">
		<if test="sortType == 'recent'">
			order by PRODUCT_NUM desc
		</if>
		<if test="sortType == 'lowPrice'">
			order by PRICE ASC
		</if>
		<if test="sortType == 'highPrice'">
			order by PRICE DESC
		</if>
		<if test="sortType == 'bestReview'">
			order by REVIEW_COUNT desc
		</if>
	</sql>

	<sql id="freeShipping">
		<if test="freeShipping == 1">
			AND FREE_SHIPPING=1
		</if>
	</sql>

	<sql id="onDiscount">
		<if test="onDiscount == 1">
			AND ON_DISCOUNT=1
		</if>
	</sql>

	<select id="countTotalPost" resultType="int">
		SELECT COUNT(*) from PRODUCT
			WHERE <include refid="searchKeyword" />
	</select>

	<select id="readProduct" resultType="com.mall.petshop.product.ProductDTO">
		SELECT * FROM PRODUCT
			WHERE PRODUCT_NUM=#{productNum}
	</select>

	<insert id="addProduct">
		INSERT INTO PRODUCT(SEARCH_TAG, NAME, PRICE, FREE_SHIPPING, ON_DISCOUNT, REG_DATE, CONTENT, THUMBNAIL)
			VALUES(#{searchTag}, #{name}, #{price}, #{freeShipping}, #{onDiscount}, now(), #{content}, #{thumbnail})
	</insert>

	<update id="modifyProduct">
		UPDATE PRODUCT
			SET SEARCH_TAG=#{searchTag}, NAME=#{name}, PRICE=#{price}, FREE_SHIPPING=#{freeShipping},
			ON_DISCOUNT=#{onDiscount}, REG_DATE=now(), CONTENT=#{content}, THUMBNAIL=#{thumbnail}
			WHERE PRODUCT_NUM=#{productNum}
	</update>

	<delete id="deleteProduct">
		DELETE FROM PRODUCT
			WHERE PRODUCT_NUM=#{productNum}
	</delete>

	<select id="checkLike" resultType="com.mall.petshop.product.LikeItDTO">
		SELECT *
			FROM LIKEIT
			WHERE ID=#{id} AND PRODUCT_NUM=#{productNum}
	</select>

	<select id="loadLikeList" resultType="com.mall.petshop.product.LikeItDTO">
		SELECT PRODUCT_NUM FROM LIKEIT
			WHERE ID=#{id}
	</select>

	<insert id="addToLikedProduct">
		INSERT INTO LIKEIT
			VALUES(#{id}, #{productNum})
	</insert>

	<delete id="switchToUnlike">
		DELETE FROM LIKEIT
			WHERE PRODUCT_NUM=#{productNum}
			AND ID=#{id}
	</delete>

	<select id="countTotalReview" resultType="int">
		SELECT count(*) from REVIEW
			WHERE PRODUCT_NUM=#{productNum}
	</select>

	<insert id="addReview">
		INSERT INTO REVIEW(ID, REG_DATE, CONTENT, PRODUCT_NUM)
			VALUES(#{id}, now(), #{content}, #{productNum})
	</insert>

	<select id="showReviewList" resultType="com.mall.petshop.product.ReviewDTO">
		SELECT PRODUCT_NUM, REVIEW_NUM, ID, REG_DATE, CONTENT
			FROM REVIEW
			WHERE PRODUCT_NUM=#{productNum}
			ORDER BY REVIEW_NUM DESC
	</select>

	<delete id="deleteReview">
		DELETE FROM REVIEW
			WHERE REVIEW_NUM=#{reviewNum}
	</delete>

	<update id="updateReviewCount">
		UPDATE PRODUCT
			SET REVIEW_COUNT=
				(SELECT COUNT(*) FROM REVIEW
					WHERE PRODUCT_NUM=#{productNum})
				WHERE PRODUCT_NUM=#{productNum}
	</update>

	<insert id="buyProduct">
		INSERT INTO PRODUCT_ORDER(PRODUCT_NUM, QUANTITY, ID, ORDER_DATE, TOTAL_PRICE, STATUS)
			VALUES(#{productNum}, #{quantity}, #{id}, now(), #{totalPrice}, 0)
	</insert>

	<select id="readOrder" resultType="com.mall.petshop.product.ProductOrderDTO">
		SELECT *
			FROM (SELECT * FROM PRODUCT_ORDER
				WHERE ID=#{id} AND PRODUCT_NUM=#{productNum} AND STATUS=0
				ORDER BY ORDER_NUM DESC) A
			LIMIT 1
	</select>

	<insert id="addCart">
		INSERT INTO CART(PRODUCT_NUM, QUANTITY, ID)
			VALUES(#{productNum}, #{quantity}, #{id})
	</insert>

	<select id="showCartList" resultMap="cartDTO">
		SELECT A.*, B.PRICE, B.NAME, B.THUMBNAIL
			FROM CART A
			INNER JOIN PRODUCT B
			ON A.PRODUCT_NUM = B.PRODUCT_NUM
			WHERE A.ID=#{id}
			ORDER BY A.CART_NUM DESC
	</select>

	<delete id="deleteCart">
		DELETE FROM CART
			WHERE CART_NUM=#{cartNum}
	</delete>

	<select id="showLikeList" resultMap="likeIt">
		SELECT A.*, B.NAME, B.PRICE, B.THUMBNAIL
			FROM LIKEIT A
			INNER JOIN PRODUCT B
			ON A.PRODUCT_NUM=B.PRODUCT_NUM
			WHERE ID=#{id}
	</select>

	<delete id="deleteLike">
		DELETE FROM LIKEIT
			WHERE PRODUCT_NUM=#{productNum} AND ID=#{id}
	</delete>

	<delete id="resetCart">
		DELETE FROM CART
			WHERE ID=#{id}
	</delete>

	<select id="getReviewCount" resultType="com.mall.petshop.product.ProductDTO">
		SELECT *
			FROM product
			WHERE PRODUCT_NUM=#{productNum}
	</select>

</mapper>